@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@font-face{
    font-family: 'Kanit';
    src: url('./fonts/Kanit/Kanit-Semibold.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Bpmf';
    src: url('./fonts/Bpmf_Iansui/BpmfIansui-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
body, html{
    background-color: black;
    scroll-behavior: smooth;
}
.navbar{
    background-color: rgba(255, 255, 255, 0);
}
.navbar ul{
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(1px);
    border: 2px solid #ffffffb3;
}

.navbar ul li a{
    position: relative;
    transition: all 0.3s ease;
}

.navbar ul li a:hover{
   color: #FF9436;
}
.navbar ul li a:hover::after{
    transform: scaleX(100%);
    background-color: white ;
}
.navbar ul li a::after{
    content : '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #ffffffb3;
    transform: scaleX(0%);
    transition: transform 0.3s ease;
}

.name{
    font-family: "Permanent Marker", cursive;
}