@import "tailwindcss";
@font-face{
    font-family: 'Kanit';
    src: url('./fonts/Kanit/Kanit-Semibold.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Bpmf';
    src: url('./fonts/Bpmf_Iansui/BpmfIansui-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
/* @font-face{
    font-family: 'Kanit';
    src: url('./fonts/Kanit/Kanit-Semibold.ttf') format('truetype');
    font-style: normal;
} */

/* #home *{
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
} */